@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-feature-settings: "rlig" 1, "calt" 1;
		@apply min-h-screen flex flex-col;
	}

	h1 {
		@apply text-4xl md:text-6xl;
	}
	h2 {
		@apply text-3xl md:text-5xl;
	}
	h3 {
		@apply text-2xl md:text-4xl;
	}
	h4 {
		@apply text-xl md:text-3xl;
	}
	h5 {
		@apply text-2xl;
	}
	h6 {
		@apply text-xl;
	}
	p {
		@apply text-lg;
	}

	code {
		@apply font-mono;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		@apply mb-1 font-normal;
	}
}

/* code elements that are not in data-rehype-pretty-code-fragment */
code:not(pre code) {
	@apply p-[4px] m-0 bg-gray-200 dark:bg-gray-800 rounded-md shadow;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
	@apply before:content-[''] after:content-[''];
}

[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
	@apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	@apply inline-block w-4 mr-4 text-right text-gray-500;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-slate-200 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-gray-700 bg-gray-900 dark:bg-gray-950;
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
}
pre[data-theme="dark"] {
	color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
	[data-theme="light"] {
		display: none;
	}
}
@media (prefers-color-scheme: light) {
	[data-theme="dark"] {
		display: none;
	}
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
	pre[data-theme="dark"] {
		display: none;
	}
}

/* label[data-tag-label]:has(input[type="checkbox"]:checked) {
	@apply bg-primary-500 shadow-2xl text-white;
} */
