@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen flex flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply font-serif;
}

h1 {
	@apply text-6xl mb-1;
}
h2 {
	@apply text-5xl mb-1;
}
h3 {
	@apply text-4xl mb-1;
}
h4 {
	@apply text-3xl mb-1;
}
h5 {
	@apply text-2xl mb-1;
}
h6 {
	@apply text-xl mb-1;
}

p {
	@apply text-lg mb-1;
}

a,
li,
span,
strong {
	@apply font-mono;
}

[data-rehype-pretty-code-fragment] pre {
	@apply bg-slate-800 p-4 border-2 border-blue-500 rounded-md;
}

[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
	@apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
}
